
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ruda", sans-serif;
}
img {
    max-width: 100%;
    width: auto;
    height: auto;
    display: block;
}
h1 {
    font-size: 2em;
    text-align: center;
}
.pageHeader {
    width: 100%;
    background-color: #1c2c38;
    padding: 64px 0;
    &Inner {
        box-sizing: border-box;
        flex: 0 0 50%;
        max-width: 1200px;
        margin: 0 auto;
    }
    &Title {
        color: white;
        font-size: 48px;
        text-align: left;
        position: relative;
        padding-inline-start: 20px;
        padding-inline-end: 20px;
        padding: 0 20px;
       
        &::before {
            display: block;
            margin-bottom: 8px;
            background-color: #c28ba0;
            height: 3px;
            width: 10vw;
            max-width: 110px;
            content: "";
        }
    }
}
.image {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px 0 20px;
    
    @media screen and (min-width: 1200px) {
        padding: 20px 0;
    }
    &NumberOfCol {
        background-color: #75614f;
        color: white;
        padding: 10px 20px;
        display: inline-block;
    }
    &Title {
        font-size: 20px;
        padding-top: 20px;
        @media screen and (min-width: 768px) {
            font-size: 38px;
        }
    }
    &List1 {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap : 20px;
    }
    &List2 {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap : 20px;
    }
    &Item2 {
        flex-basis: calc(50% - 20px); 
        flex-grow: 1;
        @media screen and (min-width: 768px) {
            width: calc((100% - 20px) / 2);
        }
        img {
            width: 100%;
            height: auto;
            // set the aspect ratio
            
            &::before {
                content: "";
                display: block;
                padding-top: 100%;

            }
        }
    }

    // 3 columns
    &List3 {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap : 20px;
    }
    &Item3 {
        width: 100%;
        @media screen and (min-width: 768px) {
            width: calc((100% - 40px) / 3);
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - (80px)) / 3);
            flex: 1;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    // 4 columns
    &List4 {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap : 20px;
    }
    &Item4 {
        flex-basis: calc(50% - 20px); 
        flex-grow: 1;
        
        @media screen and (min-width: 768px) {
            width: calc(((100% - 40px) - 60px) / 4);
            flex: 1;
        }
        @media screen and (min-width: 1200px) {
            width: calc((100% - 60px) / 4);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    &List5 {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap : 20px;
    }
    &Item5 { 
        flex-basis: calc(50% - 20px); 
        flex-grow: 1;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    &Figure {
        margin-top: 10px;
        font-style: italic;
        color: #666;
        border-left: 1px solid #ccc;
        border-top: 1px solid #ccc;
    }
    
}
.main {
    padding: 64px 0;
}
.footer {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #1c2c38;
    box-sizing: border-box;
    color: #fff;
    display: block;
    overflow: hidden;
    padding-bottom: 50px;
    &Wrap {
        position: relative; 
        margin: 0 auto;
        max-width: 1200px;
        padding: 0 20px;
        @media screen and (min-width: 1200px) {
            //border: 1px solid #717171;
        }
    }
    &WrapLinks {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row;
        padding: 20px 0;
        border-bottom: 1px solid #664e48;      
    }
    &WrapLists {
        position: relative;
        width: 100%;
        height: auto;
        @media screen and (min-width: 768px) {
            display: flex;
            flex-flow: row;
            gap: 2rem;
        }
    }
    &List {
        position: relative;
        width: 100%;
        height: auto;
        display: block;
        margin: 0;
        padding: 0;
        max-width: fit-content;
        margin-bottom: 15px;
        @media screen and (min-width: 1200px) {
            margin-bottom: 0;
        }
    }
    &Title {
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
                text-decoration-thickness: 1px;
                text-underline-offset: 3px;
            }
        }    
    }
    .social {
        position: relative;
        &List {
            position: relative; 
            display: flex;
            flex-direction: row;
            list-style: none;
            width: 100%;
            height: auto;
            padding: 0;
            margin: 0;
            gap: 1rem;
        }
        &ListItem {
            position: relative;
            display: flex;
            width: 20px;
            height: 20px;
            .icon {
                position: relative;
                width: 20px;
                height: 20px;
                fill: #fff;
            }
        }
        &ListItemLink {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg { 
                width: 20px;
                height: 20px;
                use {
                    fill: white;
                }
            }
        }
    }
    &Address {
        line-height: 1;
        address {
            margin: 20px 0;
            font-style: normal;
            p {
                margin: 10px 0;
                padding: 0;
            }
        }
         
    }
    &CopyWrite {
        border-top: 1px solid #664e48;
        color: #fff;
        padding: 20px 0;
    }
}
pre {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 0 20px;
    overflow-x: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 14px;
    color: #333;
}
 